body{
	background-color: #f4f4f4;
	color: #555555;
	font: normal 18px Roboto, Arial, Helvetica, sans-serif;

	line-height: 1.3em;
	margin: 0;

	margin: 0;
  	display: flex;

  	/* This centers our sketch horizontally. */
  	justify-content: center;

  	/* This centers our sketch vertically. */
  	align-items: center;
}

canvas {
    border: 5px solid darkgray;
    position: absolute;
    top: 300px;
}

.container{
	margin-top: 40px;
	padding-left: 10px;
	width: 40%;
	border: 5px solid darkgray;
}

.title{

}
