<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mad Libs </h3>
    <ul>
      <li> Android app</li>
    </ul>
    <p>Mad Libs is an android app made by me before I had any knowledge with design. It somehow turned out decent, and is now getting 30-40 downloads each day.</p>
    <a class="https://play.google.com/store/apps/details?id=com.asgeir_albretsen.madlibs" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Interest Calculator </h3>
    <ul>
      <li> Android app</li>
    </ul>
    <p>This was the first app I built and released without borrowing code or design ideas. The "interest calculator market" is very flooded, so I'm not expecting many downloads.</p>
    <a class="https://play.google.com/store/apps/details?id=com.asgeir_albretsen.rentekalkulator" href="#">Check it out</a>
  </div>
</div>
